:root {
    --color-background-header: rgb(32, 32, 32, 0.7);
    --color-hover: #63ecc5e6;
    --color-background-main: rgb(32, 32, 32, 1);
    --color-text: #C4DFE6;
}

[data-theme='dark'] {
    // --color-background: #0C091B;
    // --color-button-main: #4B33EB;
    // --color-button-critical: #E31280;
    // --color-button-observation: #80BB0E;
    // --color-buttin-repair: #F09292;
    // --color-primary: #ffffff;
    // --color-grey: #5C656B;
    // --color-background-switsh: #271D5A;
    // --color-scroll: #3D346E;
    // --color-scrollbar: #271D5A;
    // --color-line: #3D346E;
    // --color-button-secondary: #FFFFFF;
    // --color-checkbox-done: #A89BFF;
    // --color-controler: #AFB4B6;
    // --filter: invert(1);
}