.footer {
    position: relative;
    width: 100%;
    min-height: 230px;
    background: #28272c 0% 0% no-repeat padding-box;
}

.footer .logo {
    position: absolute;
    text-transform: uppercase;
    text-align: left;
    font: normal normal bold 25px/34px Nunito Sans;
    letter-spacing: 0px;
    color: #ffffff;
    opacity: 1;
    text-decoration: none;
    left: 140px;
    top: 20px;

    @media (max-width: 992px) {
        position: relative;
        left: 0px;
        padding: 0 0 0 20px;

    }
}

.footer .logo span {
    color: red;
}

.footer__link {
    position: absolute;
    display: grid;
    grid-template-columns: repeat(3, 200px);
    gap: 10px;
    left: 140px;
    top: 90px;
    width: auto;

    @media (max-width: 992px) {
        position: relative;
        grid-template-columns: repeat(2, 150px);
        left: 0px;
        padding: 40px 20px;
        top: 0;
    }

    @media (max-width: 350px) {
        grid-template-columns: repeat(2, auto);

    }
}

.footer__link a {
    text-decoration: none;
    font: normal normal bold 14px/19px Nunito Sans;
    letter-spacing: 0px;
    color: #ffffff;
    text-transform: uppercase;
}

.footer__link a:hover {
    color: red;
}

.copirating {
    position: absolute;
    text-align: left;
    font: normal normal 300 12px/16px Nunito Sans;
    letter-spacing: 0px;
    color: #d1d1d1;
    opacity: 1;
    right: 150px;
    bottom: 50px;

    @media (max-width: 992px) {
        display: none;
    }
}