.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 30px;

    @media (max-width: 992px) {
        column-gap: 20px;
    }
}

@for $i from 1 to 14 {
    .start-#{$i} {
        grid-column-start: $i;
    }

    .end-#{$i} {
        grid-column-end: $i;
    }

    .span-#{$i} {
        grid-column-start: span $i;
    }

    .order-#{$i} {
        order: $i;
    }
}

@for $i from 1 to 14 {
    @media (max-width: 992px) {
        .start-md-#{$i} {
            grid-column-start: $i;
        }

        .end-md-#{$i} {
            grid-column-end: $i;
        }

        .span-md-#{$i} {
            grid-column-start: span $i;
        }

        .order-md-#{$i} {
            order: $i;
        }
    }

    @media (max-width: 560px) {
        .start-sm-#{$i} {
            grid-column-start: $i;
        }

        .end-sm-#{$i} {
            grid-column-end: $i;
        }

        .span-sm-#{$i} {
            grid-column-start: span $i;
        }

        .order-sm-#{$i} {
            order: $i;
        }
    }
}

@for $i from 1 to 14 {
    @media (max-width: 992px) {
        .start-md-#{$i} {
            grid-column-start: $i;
        }

        .end-md-#{$i} {
            grid-column-end: $i;
        }

        .span-md-#{$i} {
            grid-column-start: span $i;
        }
    }

    @media (max-width: 560px) {
        .start-sm-#{$i} {
            grid-column-start: $i;
        }

        .end-sm-#{$i} {
            grid-column-end: $i;
        }

        .span-sm-#{$i} {
            grid-column-start: span $i;
        }
    }
}

.gap {
    row-gap: 30px;
    column-gap: 30px;
}

.noGap {
    grid-gap: 0;
    column-count: 0;
}