.service__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font: normal normal bold 35px/47px Nunito Sans;
    color: #ffffff;
    margin-bottom: 50px;

    @media (max-width: 560px) {
        margin: 20px;
    }
}

.service__logo span {
    width: 50px;
    height: 3px;
    margin: 5px;
    background: #ff0000 0% 0% no-repeat padding-box;
    box-shadow: 0px 1px 6px #ff00004d;
    border-radius: 8px;
    opacity: 1;
}


.service {
    background: #28272c 0% 0% no-repeat padding-box;
    padding: 100px;

    @media (max-width: 992px) {
        padding: 50px;
    }

    @media (max-width: 560px) {
        padding: 20px;
    }
}

.service__content-section {
    width: 100%;

    @media (max-width: 992px) {
        margin-bottom: 40px;
    }
}


.service__img {
    width: 100%;
    height: auto;
}

.cervice__tekst {
    text-transform: uppercase;
    font: normal normal normal 19px/26px Nunito Sans;
    letter-spacing: 0px;
    color: #ffffff;
    opacity: 1;
    margin: 10px 0 10px 0;

}

.service__content-section p {

    font: normal normal 300 14px/19px Open Sans;
    letter-spacing: 0px;
    color: #ffffff;
    opacity: 1;
    margin-bottom: 15px;

}

.cervice__button {
    background: #ff0000 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #ff00004d;
    border-radius: 40px;
    opacity: 1;
    border: none;
    text-transform: uppercase;
    text-align: center;
    font: normal normal bold 14px/19px Nunito Sans;
    letter-spacing: 0px;
    color: #ffffff;
    opacity: 1;
    padding: 10px 40px;

    @media (max-width: 560px) {
        width: 100%;
        padding: 10px;
    }


}

.cervice__button a {
    color: #ffffff;
    text-decoration: none;
}